<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-title>
       G00474354
    </ion-title>

    <ion-buttons slot="end">
      <ion-button>
       <ion-icon name="heart"></ion-icon>
      </ion-button>
     </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  
  <ion-item>
    <ion-input [(ngModel)]="searchText" placeholder="Search movie"></ion-input>
  </ion-item>

  <ion-button expand="full" (click)="searchMovies()">
    Search
  </ion-button>

  <h2>{{pageTitle}}</h2>

  <div *ngFor="let movie of movies" (click)="openMovie(movie)">
    <h3>{{movie.title}}</h3>

    <img
      *ngIf="movie.poster_path"
      [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path"
      width="150"
>
    <p>{{movie.overview}}</p>
  </div>
</ion-content>
